// styles for the grid
// character sprite created by Vryell, source: https://vryell.itch.io/tiny-adventure-pack
// floor tiles created by Stealthix; source: https://stealthix.itch.io/32-x-32-dungeon-assets
// gate tiles created by lobsovilth; source: https://lobsovilth.itch.io/simple-dungeon-crawler-16x16-pixel-pack
.game-container {
    // --end-tile-url: url("../assets/images/close.png");
    --end-tile-sprite: left 0 top 0;
    height: 80vw;
    max-height: 500px;
    background-color: black;
    margin: 5px auto 5px;
    position: relative;

    @media (max-width: 500px) {
        height: 90vw;
    }

    button {
        background-color: black;
        background-image: url("../assets/images/no-go.png");
        background-size: 100%;
        border: solid 1px white;
        width: 10%;
        height: 10%;
        float: left;
        position: relative;

        &:hover, &:focus {
            border: solid 3px purple;
        }

        &.untrigger {
            background-color: orange;
            background-image: url("../assets/images/untrigger2.png");
        }

        &.triggered {
            background-color: firebrick;
            background-image: url("../assets/images/triggered2.png");
        }

        &.start-tile {
            background-color: gray;
            background-image: url("../assets/images/start.png");
        }

        &.end-tile {
            background-color: green;
            background-image: url("../assets/images/end.png");
            background-position: var(--end-tile-sprite);
            background-size: 100%;
        }

        @keyframes spikes {
            100% {
                background-position: left 1000% top 0;
            }
        }

        &.player {
            background-color: transparent;
            background-image: none;
            border-color: transparent;

            position: absolute;
            transition: 0.2s; // needs to be low for a faster movement

            .player-sprite {
                // dimension of the sprite
                --sprite-set: 0px;
                width: 75%;
                height: 90%;

                // center the sprite
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                // sprite animation related
                background-image: url("../assets/images/char-sprite-sheet.png");
                background-size: 600%;
                background-position: left 0 top var(--sprite-set);
                animation: play 0.5s steps(6) infinite;

                @keyframes play {
                    100% {
                        background-position: left 600% top var(--sprite-set);
                    }
                }
            }
        }
    }
}
