// styles for the initial intro
.intro-container {
    @include modal;

    .intro {
        position: relative;
        top: 40vh;

        @media (max-width: 600px) {
            top: 22vh;
        }

        span {
            padding: 0 3px;
            text-shadow: 1px 1px 3px black;
        }

        .blue {
            background-color: teal
        }

        .gray {
            background-color: gray;
        }

        .green {
            background-color: green;
        }

        .orange {
            background-color: orange;
        }

        .red {
            background-color: firebrick;
        }

        .once {
            color: orange;
            text-decoration: underline;
            font-style: italic;
            font-weight: bold;
        }

        .continue,
        .music {
            display: none;
        }
    }
}

.win-container,
.loose-container,
.highscore-container {
    @include modal;
    display: none;

    .win,
    .loose,
    .highscore {
        position: relative;
        top: 35vh;
        text-align: center;
    }
}