body {
    font-family: 'Lato', sans-serif;
}

h1,
.other-controls {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}

h3 {
    font-family: 'Russo One', sans-serif;
    margin: 0;
    color: white;
}