// typography
body {
    font-family: 'Lato', sans-serif;
}

h1,
.flow-button {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
}

h2 {
    font-family: 'Russo One', sans-serif;
    margin: 0;
    color: white;
}