@import './setup';

@import './typography';

@import './animation';

@import './_title';

@import './control';

@import './grid';




// arrow svg by: Dave Gandy
// remember to remove the arrow key assets

body {
    height: 100vh;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

svg {
    width: 100%;
    height: auto;
}
