@import './setup';

@import './mixins';

@import './typography';

@import './animation';

@import './title';

@import './script';

@import './stats';

@import './control';

@import './grid';

// general styles
body {
    height: 100vh;
    background-image: url("../assets/images/darkness.png");
    animation: roam 25s infinite alternate linear;
}

.wrapper {
    width: 80vw;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 600px) {
        width: 90vw;
    }
}

svg {
    width: 100%;
    height: auto;
}
