article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
}

h1,
.reset {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
}

@-webkit-keyframes front-back {
  0% {
    z-index: 2;
    opacity: 1;
  }
  10% {
    z-index: 2;
    opacity: 1;
  }
  20% {
    z-index: 2;
    opacity: 1;
  }
  30% {
    z-index: 2;
    opacity: 0.80;
  }
  40% {
    z-index: 2;
    opacity: 0.60;
  }
  50% {
    z-index: 2;
    opacity: 0.40;
  }
  60% {
    z-index: 2;
    opacity: 0.20;
  }
  70% {
    z-index: 2;
    opacity: 0.40;
  }
  80% {
    z-index: 0;
    opacity: 0.60;
  }
  90% {
    z-index: 0;
    opacity: 0.80;
  }
  100% {
    z-index: 0;
    opacity: 1;
  }
}

@keyframes front-back {
  0% {
    z-index: 2;
    opacity: 1;
  }
  10% {
    z-index: 2;
    opacity: 1;
  }
  20% {
    z-index: 2;
    opacity: 1;
  }
  30% {
    z-index: 2;
    opacity: 0.80;
  }
  40% {
    z-index: 2;
    opacity: 0.60;
  }
  50% {
    z-index: 2;
    opacity: 0.40;
  }
  60% {
    z-index: 2;
    opacity: 0.20;
  }
  70% {
    z-index: 2;
    opacity: 0.40;
  }
  80% {
    z-index: 0;
    opacity: 0.60;
  }
  90% {
    z-index: 0;
    opacity: 0.80;
  }
  100% {
    z-index: 0;
    opacity: 1;
  }
}

.back {
  -webkit-animation: front-back;
          animation: front-back;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.title {
  width: 90%;
  margin: auto;
}

@media (max-width: 500px) {
  .title {
    font-size: 0.85rem;
  }
}

.title .back {
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 10px gray;
  font-size: 4.8em;
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title .front {
  text-align: center;
  font-variant: small-caps;
  font-size: 2.6em;
  font-weight: bold;
  height: 10vh;
  padding: 20px;
  background: #FF4E50;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#F9D423), to(#FF4E50));
  background: linear-gradient(to top, #F9D423, #FF4E50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

section {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80vw;
  max-width: 600px;
}

section button {
  width: 15%;
  min-width: 70px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background: #70e1f5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ffd194), to(#70e1f5));
  background: linear-gradient(to right, #ffd194, #70e1f5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 4px 4px 2px gray;
          box-shadow: 4px 4px 2px gray;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

section button:hover, section button:focus {
  background: #B3FFAB;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#12FFF7), to(#B3FFAB));
  background: linear-gradient(to right, #12FFF7, #B3FFAB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.reset {
  display: block;
  width: 80vw;
  max-width: 600px;
  margin: 20px auto 10px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background-color: darkgray;
  -webkit-box-shadow: 4px 4px 2px gray;
          box-shadow: 4px 4px 2px gray;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  color: brown;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px white;
}

.reset:hover, .reset:focus {
  background-color: khaki;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.game-container {
  width: 80vw;
  max-width: 600px;
  height: 80vw;
  max-height: 600px;
  background-color: black;
  margin: 20px auto;
  position: relative;
}

@media (max-width: 600px) {
  .game-container {
    width: 90vw;
    height: 90vw;
  }
}

.game-container div {
  background-color: black;
  border: solid 3px white;
  width: 10%;
  height: 10%;
  float: left;
  position: relative;
}

.game-container div:hover, .game-container div:focus {
  border: solid 3px purple;
}

div.untrigger {
  background-color: orange;
}

div.triggered {
  background-color: firebrick;
}

div.start-tile {
  background-color: gray;
}

div.end-tile {
  background-color: green;
}

div.player {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: teal;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body {
  height: 100vh;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

svg {
  width: 100%;
  height: auto;
}
